* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    width: 100%;
    font-family: 'Berkshire Swash', sans-serif;
    background-color: #ffffff;
}
.headerpc{
    background-image: url("imagens/cofee.jpg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;  
    background-attachment: fixed;  
    height: 600px;
    display: flex;

}
.titulo{
    display: flex;
    justify-content: left;
    align-self: flex-end;
    color: #ffffff;
    background-color: #732b029e;
    width: 700px;
    height: 100px;
    padding-left: 45px;
    padding-top: 15px;
    margin-bottom: 50px;
}
.menu1 {
    display: flex;
    flex-direction: row;
    height: 80px;
    margin-bottom: 25px;
}
#men1 , #men2, #men3, #men4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #732C02;
    color: #ffffff;
    align-self: center;
    direction: none;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#men1 :hover, #men2 :hover, #men3 :hover, #men4 :hover{
    background-color:  #F29D35;
    width: 100%;
    height: 100%;
    align-self: center;
    direction: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}
#men2, #men3, #men4 {
    border-left: 1px solid #ffffff;
}

.menu li{
    background-color: #732C02;
}
.icones{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    
}
.card{
 width: 350px;
 height: 550px;
 border: none;
 border-radius: 10px;
 box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
 background-color: #732C02;
 overflow: auto;
 margin-bottom: 40px;
 
}
h3 {
    color: white;
    border-bottom: 1px solid #F29D35;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px;
}
#para {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 25px;
    margin-left: 15px;
}
.card p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 17px;
    margin: 15px;
    color: white;
}
.cards img{
    width: 350px;
    height: 250px;
}
h2{
    border-bottom: 1px solid gray;
    margin-bottom: 40px;
    margin-left: 25px;
    width: 300px;
    
}
table {
    height: 300px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
th{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #732C02;
    color: white;
    padding: 20px;
    width: 250px;
}
#cafe {
    font-size: 25px;
}
td{
    background-color: #F29D35;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
footer{
    background-color: #732C02;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
    
}
footer p{
    color: #ffffff;
    margin-left: 25px;
    
}
@media (max-width: 1100px){
    .icones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 70%;
        height: 400px;
    }
    .cards img {
        width: 100%;
        height: 55%;
    }
}
@media (max-width: 800px) {
    .headerpc{
        display: none;
    }
    .titulo{
        display: none;
    }
    .menu1{
        display: flex;
        flex-direction: column;
        height: 250px;
    }
    #men1, #men2, #men3, #men4 {
        border-bottom: .5px solid #ffffff;
    }
    
    .icones {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 80%;
        height: 500px;
    }
    .cards img {
        width: 100%;
    }
    h2 {
        width: 80%;
    }


}